langchain
langchain-groq
ipykernel
notebook
nbstripout
langchain_google_genai
streamlit
langchain-community
langgraph
pypdf
beautifulsoup4
wikipedia
langchain-text-splitters
langchain_huggingface
sentence-transformers
langchain-chroma